@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  font-style: italic;
  src: url('../../assets/fonts/Ubuntu-BoldItalic.ttf');
}

@font-face {
  font-family: Ubuntu;
  font-weight: medium;
  font-style: normal;
  src: url('../../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  font-style: normal;
  src: url('../../assets/fonts/Ubuntu-Bold.ttf');
}