@use '../abstracts/colors.scss';

.logo {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-family: Ubuntu;
  filter: drop-shadow(3px 3px 2px rgba(black, 0.2));
  
  &__txt {
    color: colors.$body-background;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }
  
  &__svg {
    $scale: 2rem;
    width: $scale;
    height: $scale;
    margin-bottom: 5px;
    stroke-width: 29px;
    fill: lightgreen;
  }
}