@use '../abstracts/index.scss' as *;

.project-nav {
  $el-gap: .3rem;

  display: grid;
  gap: $el-gap;

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__content {
    font-size: .91rem;
    margin-left: .4rem;
    border-left: .125rem dotted rgb(217, 233, 42);
    padding-left: .43rem;
    display: grid;
    gap: $el-gap;
    
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &:hover {
      @include select-item(hover);

      & .project-nav__close::before {
        content: "\2716";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.3rem;
        height: 1lh;
        font-weight: bold;
        font-size: .65rem;
        color: $sidebar-text-color;
      }
    }
    
    &--select {
      @include select-item(selected);
    }
  }
    
  &__text {
    max-width: 9.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
