.container {
  display: grid;
  grid-template-columns: minmax(10rem, 18%) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header header'
    'sidebar content'
  ;
  height: 100svh;
}