.header {
  background-color: rgb(40, 67, 177);
  color: white;
  padding-inline: 1rem;
  padding-block: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__project-name {
    max-width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .plus-button {
    margin-right: 2rem;
  }
}
