@use '../abstracts/index.scss' as *;

.sidebar {
  background-color: $primary-color;
  color: $sidebar-text-color;
  display: grid;
  box-shadow: 0 0 .4rem rgb(black, .4);
  height: 100svh;
  
  &__navigation {
    overflow: auto;
    padding: $sidebar-padding;
    font-family: Ubuntu;
    display: grid;
    gap: .9rem;
    align-content: start;
    position: relative;
  }

  &__group {
    display: grid;
    gap: .4rem;
  }

  &__control {
    align-self: end;
  }
}